<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular/angular.js"></script>
	<script src="game.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="GameApp" ng-controller="Board" ng-keypress="movement($event)">
	<div class="board">
		<div ng-if="gameOver" class="gameover">You DIED!</div>
		<ul ng-repeat="row in rows" class="row">
			<li ng-repeat="col in row" >
				<span ng-class="'sqm-' + col.sqm"></span>
				<!-- <span ng-class="{true: 'player'}[player.x == col.x && player.y == col.y]"></span> -->
				<span ng-if="player.x == col.x && player.y == col.y">
					<span ng-class="'player-' + player.move"></span>
				</span>
				<span ng-class="{true: 'rock'}[col.tid == 2]"></span>
				<span ng-class="{true: 'tree'}[col.tid == 3]"></span>
				<span ng-class="{true: 'tresure'}[col.tid == 4]"></span>
				<span ng-class="{true: 'key'}[col.tid == 5]"></span>
				<span ng-class="{true:'monster-' + col.id}[col.tid == 6]"></span>
				<span ng-class="{true:'blood'}[col.blood == 1]"></span>
				<span ng-class="{true: 'loot'}[col.tid == 7]"></span>
				<span ng-class="{true: 'bluetresure'}[col.tid == 8]"></span>
				<span ng-class="{true: 'firecamp'}[col.tid == 9]"></span>
				<span ng-class="{true: 'muro'}[col.tid == 10]"></span>
				<span ng-class="{true: 'cantomuro'}[col.tid == 11]"></span>
				<span ng-class="{true: 'muroh'}[col.tid == 12]"></span>
				<span ng-class="{true: 'closedgate'}[col.tid == 13]"></span>
				<span ng-class="{true: 'door'}[col.tid == 14]"></span>
				<span ng-class="{true: 'opengate'}[col.tid == 15]"></span>
				<span ng-class="{true: 'npc'}[col.tid == 16]"></span>
				<span ng-class="{true: 'feno'}[col.tid == 17]"></span>
			</li>
		</ul>
	</div>
	<div class="playerInfo">
		<div class="status">
			<p>Name: {{player.name}}</p>
			<p>Level: {{player.lvl}}</p>
			<p>XP: {{player.score}}</p>
			<p>Chaves: {{player.key}}</p>
		<hr>
			<p>Vida: {{player.life}}/{{player.Mlife}}</p>
			<br/>
			<p>Ataque: {{player.atk + player.sword}}</p>
			<p>Defesa: {{player.def + player.shield}}</p>
		</div>
		<div class="itens">
			<div class="hand">
				<label>Arma</label>
				<div>
					<span ng-class="'sword-' + player.sword"></span>
				</div>				
			</div>
			<div class="hand">
				<label>Defesa</label>
				<div>
					<span ng-class="'shield-' + player.shield"></span>
				</div>				
			</div>
		</div>
		<hr>
		<div class="mosnter">
			<p>Name: {{monster.name}}</p>
			<p>Vida: {{monster.life}}/{{monster.Mlife}}</p>
		</div>
		<hr>
		<div class="log">
			<p ng-repeat="log in logg" ng-class="'clog-' + log.color">{{log.desc}}</p>
		</div>
	</div>
</body>
</html>