.board {
	border: 1px solid #000;
	width: 1000px;
	float: left;
	overflow: hidden;
}

.gameover {
	border: 1px solid #000;
	width: 1000px;
	height: 1000px;
	background: black;
	z-index: 999;
	overflow: hidden;
	float: left;
	position: absolute;
	-webkit-animation-name: gameover; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: gameover;
    animation-duration: 4s;
    color: white;
    line-height: 1000px;
    text-align: center;
    font-size: 50px;
}

.row {
	display: block;	
	clear: both;
}

ul{
	margin: 0;
	padding: 0;
}

.log{
	width: 100%;
	height: 220px;
	overflow: auto;
}

.clog-0{
	color: white;
}

.clog-1{
	color: red;
}

.clog-2{
	color: yellow;
}

.row > li {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	float: left;
	/*background: url(grass.jpg);*/
	background-size: 100% 100%;
}

.row > li > span{
	position: absolute;
}

.playerInfo{
	width: 300px;
	color: #fff;
	height: 600px;
	float: left;
	background: black;
}

.status p{
	padding: 0;
	margin: 5px;
}

.itens{
	width: 100%;
}

.hand{
	width: 50%;
	float: left;
}

.hand div{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: block;
	background:url(img/none.png) no-repeat;
	background-size: 30% 30%;
	background-position: center center;
	border: solid #ddd 1px;
}

.player-0 {
	width: 50px;
	height:50px;
	display: block;
	background-image: url(img/player.png);
	background-size: 100% 100%;
}

.player-1 {
	width: 50px;
	height:50px;
	display: block;
	background-image: url(img/player1.png);
	background-size: 100% 100%;
}


.swordatkUp{
	width: 50px;
	height: 50px;
	display: block;
	background-image: url(img/itens/swordatakUp.png);
	background-size: 100% 100%;
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 0px;
    left:-20px;
    -webkit-animation-name: AtaquePraCimaCaralho; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: AtaquePraCimaCaralho;
    animation-duration: 1s;
}

.swordatkDown{
	width: 50px;
	height: 50px;
	display: block;
	/*background-color: red;*/
	background-image: url(img/itens/swordatakDown.png);
	background-size: 100% 100%;
    opacity: 0;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 20px;
    -webkit-animation-name: swordatakDown; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: swordatakDown;
    animation-duration: 1s;
}

.swordatkLeft{
	width: 50px;
	height: 50px;
	display: block;
	/*background-color: red;*/
	background-image: url(img/itens/swordatakLeft.png);
	background-size: 100% 100%;
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-animation-name: swordatakLeft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: swordatakLeft;
    animation-duration: 1s;
}

.swordatkRight{
	width: 50px;
	height: 50px;
	display: block;
	/*background-color: red;*/
	background-image: url(img/itens/swordatakRight.png);
	background-size: 100% 100%;
    opacity: 0;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 20px;
    -webkit-animation-name: swordatakRight; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: swordatakRight;
    animation-duration: 1s;
}

span.npc {
	width: 100%;
	height: 100%;
	display: block;
	/*background-color: red;*/
	background-image: url(img/npc.png);
	background-size: 100% 100%;
}

span.sqm-1{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/grass.jpg);
	background-size: 100% 100%;
}

span.sqm-2{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/agua.gif);
	background-size: 100% 100%;
}

span.sqm-3{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/cuttedtree.png)no-repeat;
	background-size: 50% 50%;
	background-position: center center;
}

span.sqm-4{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/rua.jpg)no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

span.sqm-5{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/cama.png)no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

span.door{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/door.png)no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: 999;
}

span.rock{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/rock.png);
	background-size: 100% 100%;
}

span.muro{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/muro.png);
	background-size: 100% 100%;
}

span.cantomuro{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/cantomuro.png);
	background-size: 100% 100%;
}

span.muroh{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/muroH.png);
	background-size: 100% 100%;
}

span.closedgate{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/closedgate.png);
	background-size: 100% 100%;
}

span.opengate{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/opengate.png);
	background-size: 100% 100%;
	z-index: 999;
}

span.tree{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/tree.png);
	background-size: 100% 100%;
}


span.agua{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/blue.jpg);
	background-size: 100% 100%;
}

span.tresure{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/tresure.png);
	background-size: 100% 100%;
}

span.bluetresure{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/bluetresure.png);
	background-size: 100% 100%;
}

span.key{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/key.png);
	background-size: 100% 100%;
}

span.blood{
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	background: url(img/blood.gif) no-repeat;
	background-size: 50% 50%;
	-webkit-animation-name: bloodAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: bloodAnimation;
    animation-duration: 1s;
}

/*monstros*/

span.monster-1{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/galinha.png);
	background-size: 100% 100%;
}

span.monster-2{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/inseto.png);
	background-size: 100% 100%;
}

span.monster-3{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/aranha.png);
	background-size: 100% 100%;
}

span.monster-4{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/lobo.png);
	background-size: 100% 100%;
}

span.monster-5{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/urso.png);
	background-size: 100% 100%;
}

span.monster-6{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/fantasma.png);
	background-size: 100% 100%;
}

span.monster-7{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/esqueleto.png);
	background-size: 100% 100%;
}

span.monster-8{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/orc.png);
	background-size: 100% 100%;
}

span.monster-9{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/orcGuerreiro.png);
	background-size: 100% 100%;
}

span.monster-10{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/zombie.png);
	background-size: 100% 100%;
}

span.monster-11{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/yeti.png);
	background-size: 100% 100%;
}

span.monster-12{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/frostBear.png);
	background-size: 100% 100%;
}

span.monster-13{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/monstros/minotauro.png);
	background-size: 100% 100%;
}

span.loot{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/loot.png) no-repeat;
	background-size: 50% 50%;
	background-position: center center;
}

span.feno{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/feno.png) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

span.firecamp{
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/firecamp.png) no-repeat;
	background-size: 50% 50%;
	background-position: center center;
}


/*itens*/

span.sword-5{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/adaga.png);
	background-size: 100% 100%;
}

span.sword-16{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/short_sword.png);
	background-size: 100% 100%;
}

span.sword-18{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/boneblade.png);
	background-size: 100% 100%;
}

span.sword-22{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/axe.png);
	background-size: 100% 100%;
}

span.sword-26{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/minoaxe.png);
	background-size: 100% 100%;
}

span.sword-30{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/WarHammer.png);
	background-size: 100% 100%;
}

span.shield-3{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/broquel.png);
	background-size: 100% 100%;
}

span.shield-7{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/woodenShield.png);
	background-size: 100% 100%;
}

span.shield-10{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/boneShield.png);
	background-size: 100% 100%;
}

span.shield-15{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/frostShield.png);
	background-size: 100% 100%;
}

span.shield-20{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(img/itens/towerShield.png);
	background-size: 100% 100%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloodAnimation {
    0%   {opacity:0}
    50%  {opacity:1}
    100% {opacity:0}
}

/* Standard syntax */
@keyframes bloodAnimation {
    0%   {opacity:0}
    50%  {opacity:1}
    100% {opacity:0}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes gameover {
    0%   {opacity:0}
    100% {opacity:1}
}

/* Standard syntax */
@keyframes gameover {
    0%   {opacity:0}
    100% {opacity:1}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes swordatakDown {
    0%   {opacity:1}
    99% {left:-30px}
    100% {top:30px;opacity: 0}

/* Standard syntax */
@keyframes swordatakDown {
    0%   {opacity:1}
    60% {left:-30px}
    100% {top:30px;opacity: 0}
}

@-webkit-keyframes swordatkUp {
    0%   {opacity:1}
    99% {right:30px}
    100% {top:-30px;opacity: 0}

/* Standard syntax */
@keyframes AtaquePraCimaCaralho {
    0%   {opacity:1}
    60% {right:30px}
    100% {top:-30px;opacity: 0}
}

@-webkit-keyframes AtaquePraCimaCaralho {
    0%   {opacity:1}
    100% {top: 0}

/* Standard syntax */
@keyframes swordatakLeft {
    0%   {opacity:1}
    100% {top:0}
}